*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background: white;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(55, 55, 238);
}
.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.btn{
    display: inline-block;
    padding: 14px 25px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-outline{
    background: transparent;
    border: 2px solid rgb(55, 55, 238);
    color: #2563eb;
}
.hero{
    background:white;
    padding: 2.5rem 3rem;
}
.hero-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.hero-text h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero-text p{
     margin-bottom: 1.5rem;
     color: #475569;
}
.btn{
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary{
    background: rgb(55, 55, 238);
    color: white;
}
.featured-companies{
    padding: 3rem 0;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.company-logo{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.logo-card{
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.categories{
   padding: 3rem 0;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background: white;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.category-card{
    margin-bottom: 0.5rem;
}
.how-works{
    background: white;
    padding: 3rem 0;
}
.step-card{
    background: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.step-badge{
    position: absolute;
    top: -15px;
    left: -15px;
    background: rgb(55, 55, 238);
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.testimonials{
    padding: 3rem 0;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.footer{
    background: black;
    color: white;
    padding: 2rem 0;
    margin-top: 3rem;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

/* styles for jobs page */
.filter-card{
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.filter-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.company-section ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* styles form login page */
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* styles for job details page */
.job-section ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 900px) {
  .hero-flex {
    flex-direction: column;
    text-align: center;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .nav-flex {
    flex-direction: column;
    gap: 1rem;
  }
}
